<% # Override seo_meta/_form here. So if SeoMeta form changes, change it here as well. %>
<h2><%= t('seo', :scope => 'seo_meta.form') %></h2>
<div class='field'>
  <span class='label_with_help'>
    <%= form.label :browser_title, t('seo_override_title', :scope => 'seo_meta.form') %>
    <%= refinery_help_tag t('seo_override_title_help', :scope => 'seo_meta.form')%>
  </span>
  <%= form.text_field :browser_title, :class => 'widest' %>
</div>
<div class='field'>
  <span class='label_with_help'>
    <%= form.label :meta_description, t('meta_description_title', :scope => 'seo_meta.form') %>
    <%= refinery_help_tag t('meta_description_help', :scope => 'seo_meta.form') %>
  </span>
  <%= form.text_area :meta_description, :class => 'widest', :rows => 7 %>
</div>
<% # End of Override %>


<h2><%= t('facebook', :scope => 'facebook_meta.form') %></h2>
<div class='field'>
  <span class='label_with_help'>
    <%= form.label :og_title, t('seo_override_og_title', scope: 'facebook_meta.form') %>
    <%= refinery_help_tag t('seo_override_og_title_help', scope: 'facebook_meta.form')%>
  </span>
  <%= form.text_field :og_title, :class => 'widest' %>
</div>
<div class='field'>
  <span class='label_with_help'>
    <%= form.label :og_description, t('og_description', scope: 'facebook_meta.form') %>
    <%= refinery_help_tag t('og_description_help', scope: 'facebook_meta.form') %>
  </span>
  <%= form.text_area :og_description, :class => 'widest', :rows => 7 %>
</div>

<div class="field">
  <span class='label_with_help'>
    <%= form.label :og_image, t('og_image', scope: 'facebook_meta.form') %>
    <%= refinery_help_tag t('og_image_help', scope: 'facebook_meta.form') %>
  </span>
  <%= render "/refinery/admin/image_picker", 
    f: form,
    field: :og_image_id,
    image: form.object.og_image,
    toggle_image_display: false
  %>
</div>
